@import "./font/Bright/cmun-bright.css";
@import "./font/Bright Semibold/cmun-bright-semibold.css";
@import "./font/Classical Serif Italic/cmun-classical-serif-italic.css";
@import "./font/Concrete/cmun-concrete.css";
@import "./font/Sans/cmun-sans.css";
@import "./font/Sans Demi-Condensed/cmun-sans-demicondensed.css";
@import "./font/Serif/cmun-serif.css";
@import "./font/Serif Slanted/cmun-serif-slanted.css";
@import "./font/Typewriter/cmun-typewriter.css";
@import "./font/Typewriter Light/cmun-typewriter-light.css";
@import "./font/Typewriter Variable/cmun-typewriter-variable.css";
@import "./font/Upright Italic/cmun-upright-italic.css";